/* .input {
  height: 38px;
  width: 388px;
  border-radius: 10px 10px 0 0;
  border: none;
  background-color: #F4F4F4;
  padding-left: 15px;
  outline: none;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

label {
  padding-right: 30px;
}

.error_input {
  outline: 1px solid #D60000;
}

.input_button {
  position: relative;
}

.error {
  position: absolute;
  padding-left: 15px;
  top: 5px;
}

.error_text {
  color: #D60000;
} */


.input_button {
  position: relative;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

label {
  padding-right: 30px;
}

.input {
  height: 38px;
  width: 388px;
  border-radius: 10px 10px 0 0;
  border: none;
  background-color: #F4F4F4;
  padding-left: 15px;
  outline: none;
}

.error_input {
  outline: 1px solid #D60000;
}

.error {
  position: absolute;
  padding-left: 15px;
  top: 50%;
  transform: translateY(-50%); /* Vertically center */
}

.error_text {
  color: #D60000;
}
