* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #474444;
  font-size: 20px;
  line-height: 30px;
}

html, body, #root {
  height: 100%
}